.posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 3rem 1.5rem;

}

.post-card {
    width: calc(25% - 4.5rem);
    display: flex;
    flex-flow: column;
    text-decoration: none;
    color: black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}


.post-card__image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;

}

.post-card__date {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
}

.post-card__title {
    margin-bottom: 0.5rem;
    margin-top: 0;
    padding: 0 1rem;
}

.post-card__desc {
    margin-top: 0;
    padding: 0 1rem;
    margin-bottom: 2rem;
}